*/.env
*/node_modules
*.docx


# backups
/backups
/temp_extract

# Husky
.husky/_

# Logs
*.log
npm-debug.log*


# OS
.DS_Store

node_modules/
package-lock.json

docs/

.cursor/**/*.md
.github/prompts

.agents
.agent

shadcn-dashboard-landing-template/
# Deploy env files
server/.env.render
client/.env.vercel
